node_modules/
dist/
dist-electron/
out/
.DS_Store
.vite/
*.log
*.tsbuildinfo

# Rust
target/

# 排除归档文件夹
archive/

# 排除参考资料文件夹
reference/

# 排除示例文件夹
Knowledge.vault/

# Electron / OS
Thumbs.db
Desktop.ini
